._e {
  box-sizing: border-box;
  --e-m:initial;
  --e-p:initial;
  --e-bg:initial;
  --e-bc:initial;
  --e-br:initial;
  --e-bs:initial;
  --e-bw:initial;
  --e-h:initial;
  --e-w:initial;
  --e-minh:initial;
  --e-minw:initial;
  --e-maxw:initial;
  --e-maxh:initial;
  --e-d:initial;
  --e-fl:initial;
  --e-fx:initial;
  --e-jc:initial;
  --e-ai:initial;
  --e-ac:initial;
  --e-g:initial;
  --e-ov:initial;
  --e-pn:initial;
  --e-it:initial;
  --e-c:initial;
  --e-ta:initial;
  --e-fw:initial;
  --e-fs:initial;
  --e-ff:initial;
  --e-lh:initial;
  --e-ls:initial;
  --e-tt:initial;
  --e-td:initial;
  --e-ws:initial;
  --e-to:initial;
  --e-ts:initial;
  --e-o:initial;
  --e-tm:initial;
  --e-tmo:initial;
  --e-tn:initial;
  margin:var(--e-m, 0);
  padding:var(--e-p, 0);
  background:var(--e-bg, transparent);
  border-color:var(--e-bc, currentColor);
  border-radius:var(--e-br, 0);
  border-style:var(--e-bs, solid);
  border-width:var(--e-bw, 0);
  height:var(--e-h, );
  width:var(--e-w, );
  min-height:var(--e-minh, );
  min-width:var(--e-minw, );
  max-width:var(--e-maxw, );
  max-height:var(--e-maxh, );
  display:var(--e-d, revert);
  flex-flow:var(--e-fl, row);
  flex:var(--e-fx, 0 1 auto);
  justify-content:var(--e-jc, normal);
  align-items:var(--e-ai, normal);
  align-content:var(--e-ac, normal);
  gap:var(--e-g, 0);
  overflow:var(--e-ov, visible);
  position:var(--e-pn, );
  inset:var(--e-it, );
  color:var(--e-c, inherit);
  text-align:var(--e-ta, inherit);
  font-weight:var(--e-fw, inherit);
  font-size:var(--e-fs, inherit);
  font-family:var(--e-ff, inherit);
  line-height:var(--e-lh, inherit);
  letter-spacing:var(--e-ls, inherit);
  text-transform:var(--e-tt, inherit);
  text-decoration:var(--e-td, inherit);
  white-space:var(--e-ws, normal);
  text-overflow:var(--e-to, clip);
  text-shadow:var(--e-ts, none);
  opacity:var(--e-o, 1);
  transform:var(--e-tm, none);
  transform-origin:var(--e-tmo, center);
  transition:var(--e-tn, none);
}
._ehm:hover { margin:var(--eh-m)}
._ehp:hover { padding:var(--eh-p)}
._ehbg:hover { background:var(--eh-bg)}
._ehbc:hover { border-color:var(--eh-bc)}
._ehbr:hover { border-radius:var(--eh-br)}
._ehbs:hover { border-style:var(--eh-bs)}
._ehbw:hover { border-width:var(--eh-bw)}
._ehh:hover { height:var(--eh-h)}
._ehw:hover { width:var(--eh-w)}
._ehminh:hover { min-height:var(--eh-minh)}
._ehminw:hover { min-width:var(--eh-minw)}
._ehmaxw:hover { max-width:var(--eh-maxw)}
._ehmaxh:hover { max-height:var(--eh-maxh)}
._ehd:hover { display:var(--eh-d)}
._ehfl:hover { flex-flow:var(--eh-fl)}
._ehfx:hover { flex:var(--eh-fx)}
._ehjc:hover { justify-content:var(--eh-jc)}
._ehai:hover { align-items:var(--eh-ai)}
._ehac:hover { align-content:var(--eh-ac)}
._ehg:hover { gap:var(--eh-g)}
._ehov:hover { overflow:var(--eh-ov)}
._ehpn:hover { position:var(--eh-pn)}
._ehit:hover { inset:var(--eh-it)}
._ehc:hover { color:var(--eh-c)}
._ehta:hover { text-align:var(--eh-ta)}
._ehfw:hover { font-weight:var(--eh-fw)}
._ehfs:hover { font-size:var(--eh-fs)}
._ehff:hover { font-family:var(--eh-ff)}
._ehlh:hover { line-height:var(--eh-lh)}
._ehls:hover { letter-spacing:var(--eh-ls)}
._ehtt:hover { text-transform:var(--eh-tt)}
._ehtd:hover { text-decoration:var(--eh-td)}
._ehws:hover { white-space:var(--eh-ws)}
._ehto:hover { text-overflow:var(--eh-to)}
._ehts:hover { text-shadow:var(--eh-ts)}
._eho:hover { opacity:var(--eh-o)}
._ehtm:hover { transform:var(--eh-tm)}
._ehtmo:hover { transform-origin:var(--eh-tmo)}
._ehtn:hover { transition:var(--eh-tn)}

._efm:focus { margin:var(--ef-m)}
._efp:focus { padding:var(--ef-p)}
._efbg:focus { background:var(--ef-bg)}
._efbc:focus { border-color:var(--ef-bc)}
._efbr:focus { border-radius:var(--ef-br)}
._efbs:focus { border-style:var(--ef-bs)}
._efbw:focus { border-width:var(--ef-bw)}
._efh:focus { height:var(--ef-h)}
._efw:focus { width:var(--ef-w)}
._efminh:focus { min-height:var(--ef-minh)}
._efminw:focus { min-width:var(--ef-minw)}
._efmaxw:focus { max-width:var(--ef-maxw)}
._efmaxh:focus { max-height:var(--ef-maxh)}
._efd:focus { display:var(--ef-d)}
._effl:focus { flex-flow:var(--ef-fl)}
._effx:focus { flex:var(--ef-fx)}
._efjc:focus { justify-content:var(--ef-jc)}
._efai:focus { align-items:var(--ef-ai)}
._efac:focus { align-content:var(--ef-ac)}
._efg:focus { gap:var(--ef-g)}
._efov:focus { overflow:var(--ef-ov)}
._efpn:focus { position:var(--ef-pn)}
._efit:focus { inset:var(--ef-it)}
._efc:focus { color:var(--ef-c)}
._efta:focus { text-align:var(--ef-ta)}
._effw:focus { font-weight:var(--ef-fw)}
._effs:focus { font-size:var(--ef-fs)}
._efff:focus { font-family:var(--ef-ff)}
._eflh:focus { line-height:var(--ef-lh)}
._efls:focus { letter-spacing:var(--ef-ls)}
._eftt:focus { text-transform:var(--ef-tt)}
._eftd:focus { text-decoration:var(--ef-td)}
._efws:focus { white-space:var(--ef-ws)}
._efto:focus { text-overflow:var(--ef-to)}
._efts:focus { text-shadow:var(--ef-ts)}
._efo:focus { opacity:var(--ef-o)}
._eftm:focus { transform:var(--ef-tm)}
._eftmo:focus { transform-origin:var(--ef-tmo)}
._eftn:focus { transition:var(--ef-tn)}

._eam:active { margin:var(--ea-m)}
._eap:active { padding:var(--ea-p)}
._eabg:active { background:var(--ea-bg)}
._eabc:active { border-color:var(--ea-bc)}
._eabr:active { border-radius:var(--ea-br)}
._eabs:active { border-style:var(--ea-bs)}
._eabw:active { border-width:var(--ea-bw)}
._eah:active { height:var(--ea-h)}
._eaw:active { width:var(--ea-w)}
._eaminh:active { min-height:var(--ea-minh)}
._eaminw:active { min-width:var(--ea-minw)}
._eamaxw:active { max-width:var(--ea-maxw)}
._eamaxh:active { max-height:var(--ea-maxh)}
._ead:active { display:var(--ea-d)}
._eafl:active { flex-flow:var(--ea-fl)}
._eafx:active { flex:var(--ea-fx)}
._eajc:active { justify-content:var(--ea-jc)}
._eaai:active { align-items:var(--ea-ai)}
._eaac:active { align-content:var(--ea-ac)}
._eag:active { gap:var(--ea-g)}
._eaov:active { overflow:var(--ea-ov)}
._eapn:active { position:var(--ea-pn)}
._eait:active { inset:var(--ea-it)}
._eac:active { color:var(--ea-c)}
._eata:active { text-align:var(--ea-ta)}
._eafw:active { font-weight:var(--ea-fw)}
._eafs:active { font-size:var(--ea-fs)}
._eaff:active { font-family:var(--ea-ff)}
._ealh:active { line-height:var(--ea-lh)}
._eals:active { letter-spacing:var(--ea-ls)}
._eatt:active { text-transform:var(--ea-tt)}
._eatd:active { text-decoration:var(--ea-td)}
._eaws:active { white-space:var(--ea-ws)}
._eato:active { text-overflow:var(--ea-to)}
._eats:active { text-shadow:var(--ea-ts)}
._eao:active { opacity:var(--ea-o)}
._eatm:active { transform:var(--ea-tm)}
._eatmo:active { transform-origin:var(--ea-tmo)}
._eatn:active { transition:var(--ea-tn)}

._edm:disabled { margin:var(--ed-m)}
._edp:disabled { padding:var(--ed-p)}
._edbg:disabled { background:var(--ed-bg)}
._edbc:disabled { border-color:var(--ed-bc)}
._edbr:disabled { border-radius:var(--ed-br)}
._edbs:disabled { border-style:var(--ed-bs)}
._edbw:disabled { border-width:var(--ed-bw)}
._edh:disabled { height:var(--ed-h)}
._edw:disabled { width:var(--ed-w)}
._edminh:disabled { min-height:var(--ed-minh)}
._edminw:disabled { min-width:var(--ed-minw)}
._edmaxw:disabled { max-width:var(--ed-maxw)}
._edmaxh:disabled { max-height:var(--ed-maxh)}
._edd:disabled { display:var(--ed-d)}
._edfl:disabled { flex-flow:var(--ed-fl)}
._edfx:disabled { flex:var(--ed-fx)}
._edjc:disabled { justify-content:var(--ed-jc)}
._edai:disabled { align-items:var(--ed-ai)}
._edac:disabled { align-content:var(--ed-ac)}
._edg:disabled { gap:var(--ed-g)}
._edov:disabled { overflow:var(--ed-ov)}
._edpn:disabled { position:var(--ed-pn)}
._edit:disabled { inset:var(--ed-it)}
._edc:disabled { color:var(--ed-c)}
._edta:disabled { text-align:var(--ed-ta)}
._edfw:disabled { font-weight:var(--ed-fw)}
._edfs:disabled { font-size:var(--ed-fs)}
._edff:disabled { font-family:var(--ed-ff)}
._edlh:disabled { line-height:var(--ed-lh)}
._edls:disabled { letter-spacing:var(--ed-ls)}
._edtt:disabled { text-transform:var(--ed-tt)}
._edtd:disabled { text-decoration:var(--ed-td)}
._edws:disabled { white-space:var(--ed-ws)}
._edto:disabled { text-overflow:var(--ed-to)}
._edts:disabled { text-shadow:var(--ed-ts)}
._edo:disabled { opacity:var(--ed-o)}
._edtm:disabled { transform:var(--ed-tm)}
._edtmo:disabled { transform-origin:var(--ed-tmo)}
._edtn:disabled { transition:var(--ed-tn)}


