name: Build Embedded Snapshots

on:
  push:
    branches: [main]
    paths:
      - "**.swift"
      - "**.yml"
  pull_request:
    branches: [main]
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        swift:
          - version: 6.3-snapshot-2025-12-17
            wasm-sdk-url: https://download.swift.org/swift-6.3-branch/wasm-sdk/swift-6.3-DEVELOPMENT-SNAPSHOT-2025-12-17-a/swift-6.3-DEVELOPMENT-SNAPSHOT-2025-12-17-a_wasm.artifactbundle.tar.gz
            wasm-sdk-checksum: af7a90727f2d2f7c707258ecc6875d22d86d6cc5cae67f11a6656d215b28924f
            wasm_sdk_id: swift-6.3-DEVELOPMENT-SNAPSHOT-2025-12-17-a_wasm-embedded

          - version: main-snapshot-2025-12-17
            wasm-sdk-url: https://download.swift.org/development/wasm-sdk/swift-DEVELOPMENT-SNAPSHOT-2025-12-17-a/swift-DEVELOPMENT-SNAPSHOT-2025-12-17-a_wasm.artifactbundle.tar.gz
            wasm-sdk-checksum: c6ce74da92b115a3c407fe9116d15a7e3924669a184a07b54cfd4ba5bbdac4a2
            wasm_sdk_id: swift-DEVELOPMENT-SNAPSHOT-2025-12-17-a_wasm-embedded

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: vapor/swiftly-action@v0.2
        with:
          toolchain: ${{ matrix.swift.version }}

      - name: Install Swift WASM SDK
        run: swift sdk install ${{ matrix.swift.wasm-sdk-url }} --checksum ${{ matrix.swift.wasm-sdk-checksum }}

      - name: Build
        continue-on-error: true
        run: swift build --swift-sdk ${{ matrix.swift.wasm_sdk_id }}
