name: Deploy examples to Pages

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    env:
      SWIFT_VERSION: 6.2.1
      WASM_SDK_URL: https://download.swift.org/swift-6.2.1-release/wasm/swift-6.2.1-RELEASE/swift-6.2.1-RELEASE_wasm.artifactbundle.tar.gz
      WASM_SDK_CHECKSUM: 482b9f95462b87bedfafca94a092cf9ec4496671ca13b43745097122d20f18af
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: beeauvin/swiftly-swift@v1
        with:
          swift-version: ${{ env.SWIFT_VERSION }}
      - name: Install Swift WASM SDK
        run: swift sdk install ${{ env.WASM_SDK_URL }} --checksum ${{ env.WASM_SDK_CHECKSUM }}
      - name: Install wasm-opt
        uses: phi-ag/setup-binaryen@v1
        with:
          version: "123"
      - name: Build
        working-directory: Examples/Swiftle
        run: ./build.sh
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "Examples/Swiftle/Public"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
